
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /*background: linear-gradient(to bottom, rgba(204, 173, 134, 0.5), rgba(161, 196, 196, 0.3), rgba(80, 172, 175, 0.3))*/
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, .7), rgba(252, 255,255, .9)) */
    background: #fff;

}
a{
    text-decoration: none;
}
.blog-link{
    color: blue;
}
.signature h1{
    text-align: center;
    margin-top: 1rem;
    animation: design 4s linear infinite;
    text-transform: uppercase;
    color: blue;
    font-family: Monstserrat;
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}
/*@keyframes design{
    0%{
        color: blue;
    }
    20%{
        color: orange;
    }
    50%{
        color: red;
    }
    100%{
        color: black
    }
}*/
/* .introduction{
    height: 30rem;
    width: 100%;
    background: url(./pictures/justice5.jpg)no-repeat;
    background-size:100% 100%;
    display: flex;
} */

.introduction h2{
    text-align: center;
    padding-bottom: 2rem;
    font-style: italic;
    margin-top: -1rem;
    color: rgb(97, 97, 150);
}
.introduction .social img{
    display: flex;
    justify-content: center;
    margin-left: 1.2rem;
    color: red;
    width: 25px;
    font-family: Montserrat;
}


.introduction .slash{
    font-size: 1.8rem;
    font-weight: 900;
    padding: 0rem .5rem;
}
.intro{
    /* padding: .5rem 1rem; */
    font-size: 1.15rem;
    font-family: tahoma;
    line-height: 2rem;
    color: black;
    font-family: Montserrat;
         
}
.intro p{
    text-align: justify;
    padding: 0 2rem;

}
.experience{
    text-align: center;
    font-size: 2rem;
    color: black;
    padding-bottom: 1rem;
    margin-top: 1.4rem;
    animation: 2s fly infinite alternate;
}
@keyframes fly{
    from{
        transform: translateY(0px);
    }

    to{
        transform: translateY(15px);
    }
}
.firstexperience, .secondexperience, .thirdexperience, .fourthexperience, .fifthexperience{
    text-align: center;
    padding: .5rem 1rem;
    margin-bottom: 1.2rem;
}
.firstexperience img, .secondexperience img, .thirdexperience img, .fourthexperience img, .fifthexperience img{
    margin-bottom: .9rem;
}
.firstexperience p, .firstexperience h3, .secondexperience p, .secondexperience h3, .thirdexperience p, .thirdexperience h3, .fourthexperience p, .fourthexperience h3, .fifthexperience p, .fifthexperience h3{
    text-align: left;
}
.firstexperience :nth-child(2), .secondexperience :nth-child(2), .thirdexperience :nth-child(2), .fourthexperience :nth-child(2), .fifthexperience :nth-child(2){
    font-size: 1.3rem;
}
.firstexperience :nth-child(3), .secondexperience :nth-child(3), .thirdexperience :nth-child(3), .fourthexperience :nth-child(3), .fifthexperience :nth-child(3){
    font-size: 1.2rem;
    font-style: italic;
}
.firstexperience :nth-child(5), .secondexperience :nth-child(5), .thirdexperience :nth-child(5), .fourthexperience :nth-child(5), .fifthexperience :nth-child(5){
    font-size: 1.1rem;
}
@media(min-width: 740px){
    .firstexperience {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
.t{
    font-size: 3rem;
    font-style: italic;
}
.e{
    font-family: Helvetica;
    font-size: 2.5rem;
}
blockquote{
    font-style: italic;
    color: rgb(101, 101, 206);
}
.personal-quote{
    font-size: 1.4rem;
    text-align: center;
    padding: 1.2rem ;
    animation: 2s scale infinite alternate-reverse;
    transition: 2s ease;
    margin-top: -2rem;
}
.personal-quote blockquote{
    color: black;
}
@keyframes scale{
    0%{
        transform: scale(1.05);
    }
    
}
.meet-justice{
    text-align: center;
    color: black;
}
.meet{
    font-style: italic;
}
.about-justice{
    margin-top: 2.1rem;
    animation: 2s fly infinite alternate;
    color: blue;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.meet-logo{
   width: 48px;
   padding-left: .5rem;
   
}
.experience-logo{
    width: 48px;
    margin-left: .5rem;
}
.contact-form{
    text-align: center;
}
/*input{
    margin-bottom:1rem;
    height: 2rem;
    width: 14rem;
}*/
.social, .connect{
    text-align: center;
}

input, textarea{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}
input{
  width: 15rem;
  height: 1.6rem;
}
label{
  font-size: 1.2rem;
  font-family: Tahoma;
}
button{
  width: 20vw;
  height: 4vh;
  margin-top: .5rem;
  outline: none;
  background: none;
  color:white;
  background: rgb(67, 156, 190);
  font-size: 1rem;
  border-radius: 20px;
  border: none;
}

.tweet-area{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align:center;
    margin-left: 2rem;
}
.tweets{
    margin-left: 4rem;
}
.button-container{
    text-align: right;
}
.blog-button{
    border-radius: 10px;
    height: 2.5rem;
    width: 4rem;
    font-size: 1.4;
    font-weight: 700;
    font-family: Montserrat;
    position: fixed;
    right: 0;
    top: 0;
}
.contact-wrapper h1{
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 1rem;
    color: #0000ff;
    font-size: 2.4rem;
}
.connect{
    display: block;
    font-weight: 800;
}
.image-logo{
    text-align: center;
}
.round-pic{
    border-radius: 20%;
    margin-bottom: .5rem;
    height: 20rem;

}
footer{
    margin-top: 5rem;
    font-family: Montserrat;
    text-align: center;
    background: rgb(97, 95, 95);
    height: 18vh;
    color: rgb(190, 187, 187);
    font-size: 1.2rem;
}
footer p{
    line-height: 12vh;
}
.social-bottom a img{
    width: 1.4rem;
    margin-top: .8rem;
    
}
@media(min-width: 900px){
    /* .tweet-area{
        display: flex;
        justify-content: center;
        margin-left: auto;
    }
    .align-tweet{
        margin-left: 5rem;
    } */
    .align-tweet{
        text-align: center;
        width: 30rem;
        margin: auto;
    }
    input{
        width: 20rem;
        height: 1.5rem;
        
    }
    textarea{
        width: 20rem;
        height: 13rem;
    }
    label{
        font-size: 1.5rem;
    }
    
}



